<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login for Short URL Generator</title>

</head>

<body>
    <h1>Short URL Generator Site</h1>



    <div>
        <form  action="/api/user/login" method="POST">
            
            <label>Email</label>
            <input type="text" name="email" placeholder="fa...@gmail.com">
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit">Log in </button>
        </form>
    </div>



</body>

</html>